*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
    
}

.logo_container .logo img {

    height: 100%;
    display: table-cell;
   vertical-align: middle;
    margin-left: 65px;
    margin-top: 10px;
    position: relative;
    top: 5px;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    position: relative;
    bottom: 5px;

}

.logo_container h1 span {
    font-weight: 800;
    color: red;
    padding-left: 10px;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
    text-decoration: none;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat' sans-serif;
    font-size: 15px;

}

.navigation a li:hover {
    color: red;
    text-decoration: none;
    
}

.navigation .button {
    background-color: white;
    color: red;
    font-family: 'Montserrat';
    border-radius: 10%;
    border: none;
    padding: 9px 18px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    font-size: 13px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 40px;
}


/* Banner Start */

.banner {
    width: 100%;
    height: 80vh;
    background-color: black;
}

.banner .title-holder {

    text-align: center;
    color: white;
    width: 80%;
    padding: 150px 150px;
    margin: 0px;
    
}